<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{/layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-body-tertiary">
<div class="container">
    <div class="mt-5 rounded shadow-sm bg-white">
        <div class=" px-3 py-2 d-flex  justify-content-between align-items-center">
            <h2 class="mb-0">Danh sách sản phẩm</h2>
            <div>
                <a class="btn btn-sm btn-primary" th:href="@{/products/create}">Thêm mới</a>
            </div>
        </div>
    </div>
    <div class="mt-5 p-2 rounded shadow-sm bg-white">
        <form th:action="@{/products/search}" th:method="get" th:object="${products}" class="d-flex justify-content-end mt-3 align-content-center">
            <input type="text" id="search" placeholder="Tìm kiếm sản phẩm theo tên"
                   class="form-control form-control-sm w-25 me-2" name="keyword">
            <button class="btn btn-sm btn-outline-primary" style="width: 60px;">Tìm</button>
        </form>
        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th style="width: 10px;" class="text-center">#</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Mô tả</th>
                <th>Nhà sản xuất</th>
                <th style="width: 165px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product,status : ${products}">

                <td class="text-center" th:text="${status.count}"></td>
                <td th:text="${product.getName()}"></td>
                <td><span th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'POINT')}"></span> VNĐ</td>
                <td th:text="${product.getDescription()}"></td>
                <td th:text="${product.getProducer()}"></td>
                <td class="text-end">

                    <a class="btn btn-sm btn-outline-secondary"
                       th:href="@{/products/__${product.getId()}__/update}">Sửa</a>
                    <a class="btn btn-sm btn-outline-danger"
                       th:href="@{/products/__${product.getId()}__/delete}">Xóa</a>
                    <a class="btn btn-sm btn-outline-success"
                       th:href="@{/products/__${product.getId()}__/view}">Xem</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <p th:if="${noti}" class="alert alert-success" th:text="${noti}"></p>
        </div>
    </div>
</div>
</body>
</html>