<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>DetailCustomer</title>
</head>
<body class="bg-body-tertiary">
<div class="container shadow-sm rounded bg-white p-4 mt-5 w-25">
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="mt-0">Chi tiết sản phẩm</h3>
        <a class="btn btn-sm btn-primary text-decoration-none m-0" th:href="@{/products}">
            Quay lại
        </a>
    </div>
    <div class="mt-2">
        <div class="cus-detail">
            <label class="fw-bold">Tên:</label>
            <label th:text="${product.name}"></label>
        </div>
        <div class="cus-detail">
            <label class="fw-bold" >Giá:</label>
            <label><span th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'POINT')}"></span> VNĐ</label>
        </div>
        <div class="cus-detail">
            <label class="fw-bold">Mô tả:</label>
            <label th:text="${product.description}"></label>
        </div>
        <div class="cus-detail">
            <label class="fw-bold">Nhà sản xuất:</label>
            <label th:text="${product.producer}"></label>
        </div>
    </div>
</div>
</body>
</html>