<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{layout :: nav('/admin/categories')}">
</div>
<div class="container bg-white shadow rounded p-3 mt-3">
    <div class="text-end d-flex justify-content-between">
        <h2 class="m-0">DANH SÁCH DANH MỤC</h2>
        <a href="/admin/categories/create"
           class="hover-show-text btn btn-sm btn-outline-primary d-inline-flex text-nowrap align-items-center"><i
                class="fa-solid fa-plus"></i>
            <div class="hv-text">Thêm danh mục mới</div>
        </a>
    </div>
    <div>
        <p th:if="${noti}" class="alert alert-success" th:text="${noti}"></p>
    </div>
    <table class="table table-bordered table-hover mt-3">
        <tr>
            <th style="width: 20px">STT</th>
            <th>Tên</th>
            <th></th>
        </tr>
        <tr th:each="c ,cStatus : ${categories}">
            <td class="text-center" th:text="${cStatus.count}"></td>
            <td th:text="${c.name}"></td>
            <td>
                <div class="d-flex">
                    <a th:href="@{/admin/categories/__${c.getId()}__/update}" class="btn btn-sm btn-outline-success me-2">Sửa</a>
                    <button th:attr="data-el_id=${c.getId()}, data-el_name=${c.getName()}" type="button"
                            class="btn btn-sm btn-danger delete" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Xóa
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <div class="mt-3 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:if="${categories.hasPrevious()}">
                    <a class="page-link" th:href="@{/admin/categories/list(page=${categories.number - 1}, name=${name})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:if="${categories.hasNext()}">
                    <a class="page-link" th:href="@{/admin/categories/list(page=${categories.number + 1}, name=${name})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="id_blog" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span class="mb-3 text-center">Bạn có muốn xóa </span><span id="title"
                                                                                     class="fw-bold"></span><span> không?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-outline-danger btn-sm">Xóa</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function infoDelete(id, title) {
        document.getElementById("id_blog").setAttribute("action", `/admin/categories/${id}/delete`)
        document.getElementById("title").innerHTML = title;
    }

    document.querySelectorAll('.delete').forEach(el => {
        el.addEventListener('click', function () {
            let id = el.dataset.el_id;
            title = el.dataset.el_title;
            infoDelete(id, title);
        })
    })
</script>
</body>
</html>