<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-body-tertiary ">
<div th:replace="~{layout :: nav('/content')}"></div>
<div class="container bg-white mt-2">
    <div class="d-flex pt-4 ps-3">
        <div>
            <img class="img-fluid rounded-circle overflow-hidden object-fit-cover me-3"
                 th:src=" '/' + ${blog.avatar}"
                 style="width: 75px; height: 75px;">
        </div>
        <div>
            <p class="card-title" th:text="${blog.author}"></p>
            <h3 class="card-text m-0 " th:text="${blog.title}"></h3>
            <h5 th:text="${blog.category.name}"></h5>
        </div>
    </div>
    <p th:utext="${blog.content}"></p>
</div>
</body>
</html>