<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container w-25 shadow-sm mt-5 rounded p-3 ">
    <h2>Chi tiết giao dịch</h2>
    <div class="d-flex row">
        <span class="col-6">Mã giao dịch: </span>
        <p class="col-6" th:text="${transaction.code}"></p>
    </div>
    <div class="d-flex row">
        <span class="col-6">Loại bất động sản: </span>
        <p class="col-6" th:text="${transaction.serviceType.vietnamese}"></p>
    </div>
    <div class="d-flex row">
        <span class="col-6">Ngày giao dịch: </span>
        <p class="col-6" th:text="${#dates.format(transaction.date, 'dd/MM/yyyy')}"></p>
    </div>
    <div class="d-flex row">
        <span class="col-6">Đơn giá: </span>
        <p class="col-6" th:text="${#numbers.formatDecimal(transaction.price, 1, 'COMMA', 2, 'POINT')} + ' VND/m2'"></p>
    </div>
    <div class="d-flex row">
        <span class="col-6">Diện tích: </span>
        <p class="col-6" th:text="${#numbers.formatDecimal(transaction.acreage, 1, 'COMMA', 2, 'POINT')} + ' m2'"></p>
    </div>
    <div class="d-flex row">
        <span class="col-6">Tên khách hàng: </span>
        <p class="col-6" th:text="${transaction.customer.name}"></p>
    </div>
    <div class="d-flex row">
        <span class="col-6">Số điện thoại: </span>
        <p class="col-6" th:text="${transaction.customer.phone}"></p>
    </div>
    <div class="d-flex row">
        <span class="col-6"> Email: </span>
        <p class="col-6" th:text="${transaction.customer.email}"></p>
    </div>
    <div class="text-end">
        <a href="/list" class="btn btn-sm btn-secondary">Huỷ</a>
        <button th:attr="data-el_id=${transaction.id}" type="button"
                class="btn btn-sm btn-danger delete" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
            Xóa</button>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="id_transaction" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span class="mb-3 text-center">Bạn có muốn xóa giao dịch này không?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function infoDelete(id) {
        document.getElementById("id_transaction").setAttribute("action", `/list/${id}/detail/delete`)
    }
    document.querySelectorAll('.delete').forEach(el => {
        el.addEventListener('click', function () {
            let id = el.dataset.el_id;
            infoDelete(id);
        })
    })
</script>
</body>
</html>