<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Danh sách khách hàng</h3>
<p>
    <a th:href="@{/customers/create}">Thêm mới</a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="customers">
    <thead>
    <tr>
        <th>Tên</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Sửa</th>
        <th>Xóa</th>
        <th>Xem</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getEmail()}"></td>
        <td th:text="${customer.getAddress()}"></td>
        <td><a th:href="@{/customers/{id}/update(id=${customer.getId()})}">Sửa</a></td>
        <td><a th:href="@{/customers/{id}/delete(id=${customer.getId()})}">Xóa</a></td>
        <td><a th:href="@{/customers/{id}/view(id=${customer.getId()})}">Xem</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>